// settings
$color-bg-black: #242424;
$color-font-white: #fff;

$font-smoothing: antialiased; //antialiased, subpixel-antialiased, none
$font-size: 62.5%;
$line-height: 1.4;

$bp-md: 737px;
$bp-lg: 769px;